<!-- SideNav slide-out button -->
<a (click)="sidenav.toggle()" class="btn btn-primary p-3 button-collapse"><i class="fas fa-bars"></i></a>
<!--/. SideNav slide-out button -->

<!-- Sidebar navigation -->
<mdb-side-nav #sidenav class="fixed" [fixed]="true">
  <!-- Logo -->
  <li>
    <div class="logo-wrapper waves-light">
      <a href="#"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>
    </div>
  </li>
  <!--/. Logo -->
  <!--Social-->
  <li>
    <ul class="social">
      <li><a class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
      <li><a class="icons-sm pin-ic"><i class="fab fa-pinterest"> </i></a></li>
      <li><a class="icons-sm gplus-ic"><i class="fab fa-google-plus"> </i></a></li>
      <li><a class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>
    </ul>
  </li>
  <!--/Social-->
  <!--Search Form-->
  <!--<li>-->
    <!--<form class="search-form" role="search">-->
      <!--<div class="form-group md-form waves-light" mdbWavesEffect>-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
      <!--</div>-->
    <!--</form>-->
  <!--</li>-->
  <!--/.Search Form-->
  <!-- Side navigation links -->
  <li>
    <ul class="collapsible collapsible-accordion">
      <mdb-accordion [multiple]="false" aria-multiselectable="false">

        <!-- Collapsible link -->
        <mdb-accordion-item class="{{menu.Clase}}" *ngFor="let menu of menues">
          <mdb-accordion-item-head mdbWavesEffect [routerLink]="menu.Ruta" routerLinkActive="active"><i class="fas"></i> {{menu.Nombre}}
          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ul>
              <li *ngFor="let submenu of menu.Submenues"><a [routerLink]="submenu.Ruta" routerLinkActive="active-submenu"
                     mdbWavesEffect>{{submenu.Nombre}}</a></li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

      </mdb-accordion>
    </ul>
  </li>
  <!--/. Side navigation links -->
  <div class="sidenav-bg mask-strong"></div>
</mdb-side-nav>
<!--/. Sidebar navigation -->
